LIA_HOST=0.0.0.0
LIA_PORT=8000
LIA_LOG_LEVEL=INFO
LIA_DEVICE_REGISTRY_PATH=./data/devices.json
LIA_TLS_CERT_PATH=./certs/server.crt
LIA_TLS_KEY_PATH=./certs/server.key
LIA_CA_CERT_PATH=./certs/ca.crt
LIA_AGENT_ENDPOINT=http://localhost:8000
